body {
    background-color: #6ae6c3;
}

#appHeader {
    display: flex;
    justify-content: center;
    background-color: #beeade;
    height: 80px;
    width: 100%;
}

h2, h4, h5 {
    font-family:Arial, Helvetica, sans-serif;
}

h5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.practices-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.daily-quickies-images {
    max-height: auto;
    max-width: 300px;
}

.hide {
    display: none;
}

.styled-text {
    font-weight: 800;
    text-decoration: underline;
}

h1 {
    text-align: center;
}


#affirmations {
    max-width: 500px;
    max-height: auto;
}

#footer {
    background-color: #beeade;
    height: 50px;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    margin: 20px;
}
