body {
    background-color: #6ae6c3;

}

header {
    display: flex;
    justify-content: center;
    /*background-color: #beeade;*/
    height: 120px;
    width: 100%;
    padding: 10px 30px;
}
header img {
    height: 100px;
    max-width: auto;
    margin-bottom: 30px;
}

#introductionText {
    font-family: Roboto;
}

.practices-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.daily-quickies-images {
    max-height: auto;
    max-width: 300px;
}

.hide {
    display: none;
}

.styled-text {
    font-weight: 800;
    text-decoration: underline;
}

h1 {
    text-align: center;
}


#affirmations {
    max-width: 500px;
    max-height: auto;
}

#footer {
    background-color: #beeade;
    height: 50px;
    width: 100%;
    text-align: center;
    padding-top: 5px;
}

.quickie-zone-container {
    margin: 30px 10px 60px 10px;
    font-family: Roboto;
}

#weeklyPlan {
    font-family: Italiano;
}
