body {
    background-color: #6ae6c3;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
    width: 100%;
}

header img {
    height: 120px;
    max-width: auto;
    margin-bottom: 30px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(177, 15, 152);
}

.practices-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.daily-quickies-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.daily-quickies-images {
    width: 100%;
    max-height: auto;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(177, 15, 152);
}

.hide {
    display: none;
}

.styled-text {
    font-weight: 600;
    text-decoration: underline;
}

h1,
h2 {
    text-align: center;
}

h5 {
    text-align: right;
}

#footer {
    background-color: rgb(247, 207, 241);
    height: 30px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
}

.quickie-zone-container {
    margin: 30px 10px 60px 10px;
}

#weeklyPlan {
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
}

button {
    border-radius: 10px;
    width: auto;
}

#quotes {
    background-color: rgb(247, 207, 241);
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: auto;
    padding: 10px 10 px;
}

#quotesButton button {
    width: 50px;
}

.quotes-p {
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    font-style: italic;
}

